body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #272727;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

#sobre-evento {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#sobre-evento h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

#sobre-evento p {
    margin: 8px 0;
    line-height: 1.6;
}

#palestrantes {
    padding: 10px;
}

#palestrantes {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #cac8c8;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    max-height: 222px;
    object-position: top;
}

#Inscricao {
    background-color: #919090;
    border: 2px solid #333;
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    color: #000000;
    box-sizing: border-box;
}

#Inscricao h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.opcoes-ingresso {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcoes-ingresso label {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opcoes-ingresso input[type="radio"] {
    transform: scale(1.2);
    accent-color: #007BFF;
}

.opcoes-ingresso label:hover {
    background-color: #ddd;
}

.termos {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.termos input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
    accent-color: #007BFF;
}

.termos a {
    color: #001aff;
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002349;
}

#p1 {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 15px 250px;
    margin: 10px auto; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}

